<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>yoVerse</title>
    <meta name="keywords" content="HTML, CSS, JavaScript"> <!-- keywords for search engines -->
    <meta name="description" content="yoVerse Website"> <!-- description for search engines -->
    <meta name="author" content="Micah Stovall, Dax Valdez, Artiom Skarakhod"> <!-- labels the author of the page -->
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <script type="text/javascript" src="/JS/jquery.min.js"></script>
	<script type="text/javascript" src="/JS/bootstrap.min.js"></script>
	<script type="text/javascript" src="/JS/follow.js"></script>

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/profile.css">

    <link rel="shortcut icon" href="/images/fevicon2.png">
</head>

<body>
    <%if(!loggedIn){ %>
        <div>
            <header>
                <nav class="navbar badge-light">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="website-logo" href="/user">
                                <img src="/images/yoVerseWebsite.png" alt="yoVerseLogo" class="website-logo">
                            </a>
                        </div>
                        <div class="nav navbar-nav">
                            <form action="/user/search" method="POST" class="form-inline my-2  navbar-right">
                                <input class="form-control mr-sm-2" name="search" required placeholder="Search by username" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>

                        <!-- special case for the sign in page-->
                        <% if(locals.letsGo == "ye") { %>
                        <div>
                            <button type="button" onclick="location.href='/user/signup';" class="btn btn-outline-warning btn-lg"
                                id="loginBtn">SignUp</button>
                        </div>
                        <%}else{%>
                            <% console.log(locals.letsGo) %>
                            <div>
                                <button type="button" onclick="location.href='/user/login';" class="btn btn-outline-warning btn-lg"
                                    id="loginBtn">Login</button>
                            </div>
                        <%}%>
                    </div>
                </nav>
            </header>
            <br>
        </div>
        <%}else{ %>
            <header>
                <nav class="navbar nav navbar-inverse navbar-expand-xl navbar-expand badge-light navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/user/home">
                                <img src="/images/yoVerseWebsite.png" class="website-logo">
                            </a>
                        </div>
                        <div class="nav navbar-nav">
                            <form action="/user/search" method="POST" class="form-inline my-2  navbar-right">
                                <input class="form-control mr-sm-2" name="search" required placeholder="Search by username" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                        <div>
                            <h5>Logged in as:</h5>
                            <%= currentUser.username %>
                        </div>
                        <div class="nav navbad-nav">
                            <a href="<%= `/user/${currentUser.username}/Profile` %>"><img class="d-flex mr-3 postThumbnail" src="/img/profilePicBlank.png"></a>
                        </div>
                    </div>
                </nav>
            </header>
            <br>            
        <%}%>
    <%-body%>
    <div>
        <% if (flashMessages) { %>
          <% if (flashMessages.success) { %>
            <div class="alert alert-primary"><%= flashMessages.success %></div>
          <% } else if (flashMessages.error) { %>
            <div class="alert alert-warning"><%= flashMessages.error %></div>
          <% } %>
        <% } %>
    </div>
    <br>
        <footer>
            <div class="container-fluid footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Help</h3>
                            <hr>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="">
                                        Contact us
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Report a Problem
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        Jobs
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <a href="">Privacy</a> | <a href="">Terms and Conditions</a>
                            </div>
                            <div>
                                <p class="copyright">
                                    &copy; 2021 yoVerse Inc.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</body>
