<% if(loggedIn){ %>
<header>
    <nav class="navbar nav navbar-inverse navbar-expand-xl navbar-expand badge-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home">
                    <img src="/images/yoVerseWebsite.png" class="website-logo">
                </a>
            </div>
            <ul class="nav navbar-nav">
                <form class="form-inline my-2  navbar-right">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </ul>
            <div class="nav navbad-nav">
                <a href="<%= `/user/${currentUser._id}/Profile` %>"><img class="d-flex mr-3 postThumbnail" src="/img/profilePicBlank.png"></a>
            </div>
        </div>
    </nav>
</header>

<section class="main">
    <div class="sidenav col-3 moveDown">
        <h3>
            <HR>
            <a href="home">Feed</a> <br><br>
            <a href="">Notifications</a> <br><br>
            <a href="">Messages</a> <br><br>
            <a href="">Help & Support</a> <br><br>
            <a href="profileSettings">Settings & Privacy</a> <br><br>
            <a href="/user/logout">Log Out</a><br>
            </HR>
        </h3>
    </div> 
    <br>
    <br>
    <div class="mainDiv">
    <div class="row">
        <form class = "blocktext col-6" action="<%= `/users/${currentUser._id}/update?_method=PUT` %>" method="POST">
        <div class="col" >
            <fieldset class="row form-group">
                <!--
                    INCLUDE A CHANGE PROFILE PIC OPTION BEFORE NEXT ASSIGNMENT
                -->
                <div class="col-sm-10 col-lg-8">
                    <label for="email">
                        <span>Change Email:</span>
                    </label>
                </div>
                <div class="col-sm-10 col-lg-8">
                    <input type="email" name="email" id="txtEmail" class="col-9 form-control"
                        value="<%=currentUser.email%>">
                </div>

                <div class="col-sm-10 col-lg-8">
                    <label for="number" pattern="[0-9]{10}|[0-9]{3}+-+[0-9]{4}+-+[0-9]{3}">
                        <span>Change Phone Number:</span>
                    </label>
                </div>
                <div class="col-sm-10 col-lg-8 ">
                    <input type="tel" name="number" id="txtTele" value="<%=currentUser.number%>"
                        class="col-9 form-control">
                </div>
            </fieldset> <br>

            <fieldset class="row form-group">
                <div class="col-sm-10 col-lg-8">
                    <label for="password">
                        <span>Password:</span>
                    </label>
                </div>

                <div class="col-sm-10 col-lg-8">
                    <input type="password" name="password" id="txtPW" value="<%=currentUser.password%>"
                        class="col-6 form-control">
                </div>

                <div class="col-sm-10 col-lg-8 form-group">
                    <label for="txtPW2">
                        <span>Confirm Password:</span>
                    </label>
                </div>

                <div class="col-sm-10 col-lg-8">
                    <input type="password" name="textPW2" id="PW2" value="<%=currentUser.password%>"
                        class="col-6 form-control">
                </div>
            </fieldset> <br>

            <fieldset class="form-group row">
                <div class="col-sm-10 col-lg-8">
                    <label for="first" class="col-md-6 col-form-label">
                        First Name:
                    </label>
                </div>
                <div class="col-sm-10 col-lg-8">
                    <input type="text" id="textFirstName" name="first" required class="form-control col-6"
                    value="<%=currentUser.name.first%>">
                </div> <br>

                <div class="col-sm-10 col-lg-8">
                    <label for="last" class="col-md-8 col-form-label">
                        <span>Last Name:</span>
                    </label>
                </div>
                <div class="col-sm-10 col-lg-8">
                    <input type="text" id="textLastName" name="last" required class="form-control col-6"
                    value="<%=currentUser.name.last%>">
                </div>
            </fieldset> <br>

            <fieldset class="row form-group">
                <div class="col-sm-10 col-lg-8">
                    <label for="birthday" class="col-md-12 col-form-label">
                        <span>Date of Birth</span>
                    </label>
                </div>
                <div class="col-sm-10 col-lg-7">
                    <input type="date" id="textDOB" name="birthday" required class="form-control col-10"
                    value="<%=currentUser.birthday%>">
                </div>
                <div id="divDoBError" class="invisible errorMessage">

                </div>
            </fieldset> <br>

            <fieldset class="form-group genderField">
                <div class="row col-sm-8">
                    <legend class="col-form-label">Gender</legend>
                </div>

                <div class="col-sm-12">
                    <div class="form-group col-sm-8 row">
                        <label for="gender">Select your gender:</label>
                            <select id="gender" class="form-control" name="gender" default="<%=currentUser.gender%>">
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                                <option value="Other">Other</option>
                                <option value="pnta">Prefer not to answer</option>
                            </select>
                    </div>
                </div>
            </fieldset>
        </div>
        <p>
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-secondary">Cancel</button>
        </p>
    </form>
</div> <br> <br>
</div>
</section>

<%} else {%>
    <header>
        <nav class="navbar nav navbar-inverse navbar-expand-xl navbar-expand badge-light navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/user">
                        <img src="/images/yoVerseWebsite.png" alt="logo" class="website-logo">
                    </a>
                </div>
                <div class="nav navbar-nav">
                    <form class="form-inline my-2  navbar-right">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div>
                    <button type="button" onclick="location.href='signup';" class=" btn btn-outline-warning btn-lg"
                        id="loginBtn">Sign Up</button>
                </div>
            </div>
        </nav>
    </header>
    <body>
        <div class="container higherStyling" style="color: black;" id="mainDiv">
            <br>
            <br>
            <fieldset class="brdr ">
                <div class="text-center higherStyling">
                    <div>
                        <h3>You are not signed in!</h3>
                    </div>
                    <a href="login">
                        <span class="button">Sign in</span>
                    </a>
                </div>
            </fieldset>
        </div>
    </body>
<%}%>