<% if(!loggedIn){ %>
    <div>
        <header>
            <nav class="navbar badge-light">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="website-logo" href="/user/home">
                            <img src="/images/yoVerseWebsite.png" alt="yoVerseLogo" class="website-logo">
                        </a>
                    </div>
                    <div class="nav navbar-nav">
                        <form class="form-inline my-2  navbar-right">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                    <div>
                        <button type="button" onclick="location.href='/user/login';"
                            class="btn btn-outline-warning btn-lg" id="loginBtn">Login</button>
                    </div>
                </div>
            </nav>
        </header>
        <br>
    </div>
<% }else { %>
    <div>
        <header>
            <nav class="navbar badge-light">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="website-logo" href="/user/home">
                            <img src="/images/yoVerseWebsite.png" alt="yoVerseLogo" class="website-logo">
                        </a>
                    </div>
                    <div class="nav navbar-nav">
                        <form class="form-inline my-2  navbar-right">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                    <div>
                        <h5>Logged in as:</h5>
                        <%= currentUser.username %>
                    </div>
                    <div>
                        <button type="button" onclick="location.href='/user/profilePage';"
                            class="btn btn-outline-warning btn-lg" id="loginBtn">Your Profile Settings</button>
                    </div>
                </div>
            </nav>
        </header>
        <br>
    </div>
<%} %>

<div class="profileDiv mainDiv">
    <% if(user){ %>
        <body id="profilePageBody">
            <fieldset class="border brdr">
                <div class="pfp center">
                    <img id="profilePic" src="/img/profilePicBlank.png">
                </div>
                <div class="text-center">
                    <div>
                        <h2>
                            <%= user.name.first + " " + user.name.last %>
                        </h2>
                    </div>
                    <div>
                        <h3>
                            <%= user.username %>
                        </h3>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <div>
                        <h5>
                            <%= user.gender + " " + user.email %>
                        </h5>
                    </div>
                </div>
                <div id="birthday" class="text-center">
                    <p>birthday: <%= user.numBiDay %>
                    </p>
                </div>
                <div class="text-center">
                    <fieldset id="profileName" class="brdr">
                        <h5>
                            <%= user.biography%>
                        </h5>
                    </fieldset>

                </div>
            </fieldset>
            <br>
            <div>
                <fieldset class="brdr border">
                    <div class="row">
                            <div class="col-6 postContainer">
                                <h2>User's posts: </h2>
                                <div class="card">
                                    <% if(posts.length > 0){ %>
                                        <% posts.forEach(post=> { %>
                                        <div class="card-block">
                                            <div class="media">
                                                <!-- Need to link uploaded photo with profile picture -->
                                                <!-- Or make a stock user profile photo -->
                                                <img class="d-flex mr-3 postThumbnail"
                                                    src="/img/profilePicBlank.png">
                                                <div class="media-body">
                                                    <h5 class="mt-0"></h5>
                                                    <i>
                                                        <%= post.posterName %>
                                                    </i>
                                                    <div class="postMainBody">
                                                        <%= post.postBody %>
                                                    </div>
                                                </div>
                                                <% datee=JSON.stringify(post.date) %>
                                                    <%= datee.substr(1,10) %>
                                            </div>
                                        </div>
                                        <br>
                                        <%})%>
                                    <%} else {%>
                                </div>
                                <div class="text-center">
                                    <h3>No posts yet </h3>
                                </div>
                            </div>
                            
                        <%}%>
                        </div>
                    </div>
                </fieldset>
            </div>
        </body>
    <% } else { %>
        <fieldset class="brdr border">
            <div class="text-center higherStyling">
                <h3>User doesn't exist</h3></div>
                <%if(loggedIn){ %>
                    <div class="text-center">
                        <a href="/user/home">
                            <span class="button">Go back home</span>
                        </a>
                    </div>
                <%}else{ %>
                    <div class="text-center">
                        <a href="/user/login">
                            <span class="button">Login</span>
                        </a>
                    </div>
                    <br>
                <%}%>
        </fieldset>
    <%} %>
</div>